<!DOCTYPE html>
<html lang="en">
<head>
	<link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
	alert("File Uploaded")
</script>
	
	<button type="button" class="btn btn-default waves-effect" onclick="home()" data-toggle="modal" data-target="#smallModal">Home</button>

	<div><a href="javascript:history.go(-1)"onMouuseOver"=self.status.referrer;return true"><button type="button" class="btn btn-default waves-effect"  data-toggle="modal" data-target="#smallModal">Back</button></a></div>
	
</body>
</html>

<script>
	function home(){
    	location.href = "/";
    }

 </script>